
<div class="container section-background">

    <EditForm Model="@CustomLinksViewModel" OnValidSubmit="OnSave">
        <ObjectGraphDataAnnotationsValidator/>
        <div class="card" style="border:none;">
            <div class="card-body p-4">
                <div class="row">
                    <span class="headingM">Customize your links</span>
                    <span class="bodyS">Add/edit/remove links below and then share all your profile links with the world!</span>
                </div>
                @if (CanAddLink)
                {
                    <div class="row mt-4">
                        <button type="button" class="secondaryButton" @onclick="AddNewLink">  + Add new link</button>
                    </div>
                }

                <div class="row">

                    @if (CustomLinksViewModel==null || !CustomLinksViewModel.CustomLinks.Any())
                    {
                        <NoLinks />
                    }
                    else
                    {

                        <LinkSharing_App.Utility.SortableList id="linksList" Items="@CustomLinksViewModel.CustomLinks" 
                                                    OnUpdate="@SortList" Context="customLink">
                            <SortableItemTemplate>
                                <div class="container block-background my-4 px-4 pb-4">

                                    <div class="navbar align-items-center justify-content-between">
                                        <div class="navbar-brand">
                                            <img src="./img/icon-drag-and-drop.svg" />
                                            <span class="headingS"> Link# @customLink.DisplayIndex</span>
                                        </div>
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <button type="button" @onclick="(e=>RemoveLink(customLink.DisplayIndex))" class="remove-linkbutton">Remove</button>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="row mt-2 ">
                                        <label for="linkText" class="form-label bodyS">Platform</label>
                                        @if (!String.IsNullOrEmpty(customLink.PlatformURL))
                                        {
                                            <div class="d-flex align-items-center">
                                                <img src="@customLink.PlatformIconPath" />
                                                <span class="ms-1">@customLink.PlatformName</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    @customLink.SelectedPlatformName
                                                </button>
                                                <ul class="dropdown-menu form-control">
                                                    @if (Platforms!=null)
                                                    {
                                                        foreach (var platform in Platforms)
                                                        {
                                                            <li class="dropdown-item">
                                                                <div>
                                                                    <img src="@platform.Icon" />
                                                                    <a @onclick="(e=>OnPlatformSelected(platform.Id,customLink.DisplayIndex))">@platform.Name</a>
                                                                </div>

                                                            </li>

                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        }

                                    </div>
                                    <div class="row mt-2">
                                        <label class="form-label bodyS">Link</label>
                                        <InputText type="text" @bind-Value="customLink.LinkUrl" class="form-control" />
                                        <ValidationMessage For="() => customLink.LinkUrl"/>
                                    </div>

                                </div>
                            </SortableItemTemplate>
                        </LinkSharing_App.Utility.SortableList>
                    }
                </div>
            </div>
            <div class="card-footer section-background ">
                <div class="row mt-2 justify-content-end">
                    <button type="submit" class="primary-button-blue" >Save</button>
                </div>
            </div>
        </div>
    </EditForm>


</div>


