@page "/preview"

    <div class="d-flex justify-content-center preview-phone-container">
        @if (!String.IsNullOrEmpty(ImageSrc))
        {
            <img class="round-image mb-2" src="@ImageSrc" height="100px" width="100px" style="position:absolute; top:60px; left:100px;" />
        }

    <div class="d-flex justify-content-center px-1" style="position:absolute; top:160px;background-color:white;width:100%">
        <span class="headingM" >@FirstName @LastName</span>
    </div>
    <div class="d-flex justify-content-center px-1" style="position:absolute; top:210px;background-color:white;width:100%">
        <span class="bodyM">@Email</span>
    </div>


        @if (CustomLinks != null)
        {
        <div style="position:absolute; top:255px; height:350px;">
                @foreach (var customLink in CustomLinks.CustomLinks)
                {
                    if (!String.IsNullOrEmpty(customLink.PlatformName))
                    {
                        <div class="row justify-content-center mt-3" style="background-color:white;height:50px">
                            <div class="col-auto ">
                                <button class="preview-platform-button" style="background-color:@customLink.PlatformBrandingColor"
                                    @onclick="()=>OnGotoLink(customLink.LinkUrl)">
                                    <div class="d-flex justify-content-between" style="width:100%;">
                                        <div class="d-flex align-items-center">
                                            <img src="@customLink.WhitePlatformIconPath" />
                                            <span class="ms-2">@customLink.SelectedPlatformName </span>
                                        </div>
                                        <img src="./img/icon-arrow-right.svg" />
                                    </div>
                                </button>
                            </div>
                        </div>
                    }
                }
            </div>

        }
    </div>









