
<div class="card" style="border:none">
    <div class="card-body" style="border:none">
        <div class=" container d-flex justify-content-center preview-phone-tabbed-container">

            @if (!String.IsNullOrEmpty(ImageSrc))
            {
                <img class="round-image mb-2" src="@ImageSrc" height=100 width="100" style="position:absolute; top:60px;" />
            }
            <div class="d-flex flex-column align-items-center" style="position:absolute; top:185px;width:80%;background-color:white">
                <span class="headingS text-center">@FirstName @LastName</span>

            </div>
            <div class="d-flex flex-column align-items-center" style="position:absolute; top:205px;width:80%;background-color:white;">
                <span class="bodyS mt-1 text-center">@Email</span>
            </div>
            @if (CustomLinks != null)
            {
                <div style="position:absolute; top:260px;height:320px; width:75%; left:35px;">
                    @foreach (var customLink in CustomLinks.CustomLinks)
                    {
                        if (!String.IsNullOrEmpty(customLink.PlatformName))
                        {
                            <div class="row justify-content-center mt-3" style="background-color:white;">
                                <div class="col-auto">
                                    <button disabled class="phone-platform-button" style="background-color:@customLink.PlatformBrandingColor;">
                                        <div class="d-flex  align-items-center justify-content-start" style="width:100%;">
                                            <img src="@customLink.WhitePlatformIconPath" />
                                            <span class="ms-2">@customLink.SelectedPlatformName </span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        }

                    }
                </div>

            }
        </div>
    </div>
</div>

