
<div class="card" style="border:none">
    <div class="card-body" style="border:none">
        <div class=" container d-flex justify-content-center preview-phone-tabbed-container">

            @if (!String.IsNullOrEmpty(ImageSrc))
            {
                <img class="round-image mb-2" src="@ImageSrc" height=100 width="100" style="position:absolute; top:80px;" />
            }
            <div class="d-flex flex-column align-items-center" style="position:absolute; top:195px;width:100%">
                <span class="headingS text-center" style="background-color:white; width:170px">@FirstName @LastName</span>
                <span class="bodyS mt-1 text-center" style="background-color:white; width:120px">@Email</span>
            </div>

            @if (CustomLinks != null)
            {
                <div style="position:absolute; top:272px;height:350px;">
                    @foreach (var customLink in CustomLinks.CustomLinks)
                    {
                        <div class="row justify-content-center mt-3" style="background-color:white;height:50px">
                            <div class="col-auto">
                                   <button class="preview-platform-button" style="background-color:@customLink.Platform.BrandingColor; height:40px">
                                    <div class="d-flex justify-content-between" style="width:100%;">
                                        <div>
                                            <img src="@customLink.Platform.IconPath" />
                                            <span class="ms-1">@customLink.SelectedPlatformName </span>
                                        </div>

                                        <img src="/img/icon-arrow-right.svg" />
                                    </div>
                                </button>
                            </div>
                        </div>
                    }
                </div>

            }
        </div>
    </div>
</div>

