@page "/{UserId}"
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:800px">
        <div class="col-auto">
            <MyLinks Email="@ProfileDetails.EmailAddress" FirstName="@ProfileDetails.Name" LastName="@ProfileDetails.LastName"
            ImageSrc="@ProfileDetails.ImgSrc" CustomLinks="@CustomizedLinks"></MyLinks>
        </div>

    </div>
</div>


